<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

# Data Science Basics

&copy; Dr. Yves J. Hilpisch | The Python Quants GmbH

http://tpq.io | [training@tpq.io](mailto:trainin@tpq.io) | [@dyjh](http://twitter.com/dyjh)

## SQLite3

_From ChatGPT_

### Overview of SQLite3 with Emphasis on Python and Data Science

#### **History**
SQLite was designed in the year 2000 by D. Richard Hipp with the goal of creating a database engine that required minimal setup and administration. Since its inception, SQLite has evolved into a robust and reliable database solution. Its design emphasizes simplicity and accessibility, allowing it to be integrated seamlessly into a wide array of applications.

#### **Current Usage**
SQLite is widely used in various domains, including embedded systems, mobile applications, desktop applications, and small to medium-sized websites. Its lightweight nature and minimal resource requirements make it particularly suitable for devices with limited resources, such as smartphones, tablets, and IoT devices. It serves as the default database engine for both Android and iOS platforms, demonstrating its widespread adoption in the mobile industry.

#### **Major Benefits**
- **Serverless Architecture**: SQLite operates without the need for a separate server process, simplifying deployment and reducing complexity.
- **Zero Configuration**: It requires no setup or administration, allowing developers to include the SQLite library in their applications without additional configuration.
- **Cross-Platform Compatibility**: SQLite functions across various operating systems, including Windows, macOS, Linux, and mobile platforms, ensuring consistent behavior across different environments.
- **Self-Contained**: The entire database is stored in a single file, facilitating easy distribution and management.
- **ACID Compliance**: SQLite supports Atomicity, Consistency, Isolation, and Durability (ACID) transactions, ensuring data integrity even in the event of system failures.

#### **SQLite in Python and Data Science**
Python’s standard library includes the `sqlite3` module, providing a built-in interface to SQLite databases. This integration allows Python developers to perform database operations without requiring external dependencies. 

In data science, SQLite serves as a lightweight and efficient solution for data storage and management. It is particularly useful for handling intermediate datasets, caching results, and managing structured data within applications. Tools like `pandas` can interact seamlessly with SQLite databases, enabling data scientists to execute complex queries and analyses efficiently.

#### **Maintenance Team**
SQLite is maintained by a dedicated team of developers led by its creator, D. Richard Hipp. The project's development is supported by the SQLite Consortium, which includes various organizations that use SQLite in their products and services. This consortium ensures ongoing development, maintenance, and reliability of SQLite as a critical component in numerous applications worldwide.

#### **Usage Statistics**
While exact usage statistics are difficult to determine due to SQLite’s embedded nature, it is one of the most deployed database engines globally. Its presence in billions of devices, ranging from smartphones and computers to embedded systems, attests to its ubiquity and reliability. The extensive adoption of SQLite across diverse platforms highlights its versatility and effectiveness as a lightweight database solution.

### **Conclusion**
SQLite's simplicity, portability, and robust feature set have solidified its position as a preferred database solution in various applications, particularly in Python development and data science. Its seamless integration with Python, coupled with its efficient performance, makes it an invaluable tool for developers and data scientists alike.

### References

1. [Simplilearn - What is SQLite?](https://www.simplilearn.com/tutorials/sql-tutorial/what-is-sqlite?utm_source=chatgpt.com)  
2. [DevOps School - What is SQLite and Use Cases](https://www.devopsschool.com/blog/what-is-sqlite-and-use-cases-of-sqlite/?utm_source=chatgpt.com)  
3. [Python Documentation - sqlite3 Module](https://docs.python.org/3/library/sqlite3.html?utm_source=chatgpt.com)

## First Steps

In [ ]:
!git clone https://github.com/tpq-classes/data_science_basics.git
import sys
sys.path.append('data_science_basics')

In [ ]:
transactions = [
    ("2025-03-01", "Stock Purchase - AAPL", -1500.75),
    ("2025-03-02", "Dividend Received - MSFT", 120.50),
    ("2025-03-03", "ETF Investment - SPY", -2000.00),
    ("2025-03-04", "Interest Earned", 45.30),
]

In [ ]:
# %run transactions.py

In [ ]:
transactions

In [ ]:
import sqlite3 as sq3

In [ ]:
con = sq3.connect(':memory:')  # in-memory database

In [ ]:
cursor = con.cursor()

In [ ]:
cursor.execute('SELECT * FROM sqlite_master').fetchone()

In [ ]:
cursor.execute('''CREATE TABLE transactions (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            date TEXT,
            description TEXT,
            amount REAL
            )''')

In [ ]:
cursor.execute('SELECT * FROM sqlite_master').fetchone()

In [ ]:
cursor.execute('INSERT INTO transactions (date, description, amount) VALUES (?, ?, ?)', transactions[0])

In [ ]:
cursor.execute('SELECT * FROM transactions').fetchone()

In [ ]:
cursor.execute('INSERT INTO transactions (date, description, amount) VALUES (?, ?, ?)', transactions[1])

In [ ]:
cursor.execute('SELECT * FROM transactions').fetchmany(5)

In [ ]:
cursor.execute('SELECT * FROM transactions').fetchall()

In [ ]:
cursor.execute('SELECT * FROM transactions WHERE amount > 0').fetchall()

In [ ]:
cursor.execute('SELECT * FROM transactions WHERE amount < 0').fetchall()

In [ ]:
cursor.execute('DELETE FROM transactions WHERE id=2')

In [ ]:
cursor.execute('SELECT * FROM transactions').fetchall()

In [ ]:
cursor.execute('DELETE FROM transactions WHERE id=1')

In [ ]:
cursor.execute('SELECT * FROM transactions').fetchall()

In [ ]:
for r in range(len(transactions)):
    cursor.execute('''INSERT INTO transactions
                (date, description, amount) VALUES (?, ?, ?)''',
               transactions[r])

In [ ]:
cursor.execute('SELECT * FROM transactions').fetchall()

In [ ]:
cursor.execute('DELETE FROM transactions WHERE id >= 3')

In [ ]:
cursor.execute('SELECT * FROM transactions').fetchall()

In [ ]:
cursor.executemany('''INSERT INTO transactions
                (date, description, amount) VALUES (?, ?, ?)''',
               transactions)

In [ ]:
cursor.execute('SELECT * FROM transactions').fetchall()

In [ ]:
cursor.execute('SELECT SUM(amount) FROM transactions').fetchone()[0]

In [ ]:
cursor.execute('SELECT MIN(amount) FROM transactions').fetchone()[0]

In [ ]:
cursor.execute('SELECT MAX(amount) FROM transactions').fetchone()[0]

In [ ]:
cursor.execute('SELECT AVG(amount) FROM transactions').fetchone()[0]

In [ ]:
cursor.execute('SELECT AVG(amount) FROM transactions WHERE amount > 0').fetchone()[0]

In [ ]:
cursor.execute('SELECT AVG(amount) FROM transactions WHERE amount < 0').fetchone()[0]

In [ ]:
cursor.execute('SELECT * FROM sqlite_master').fetchall()

In [ ]:
cursor.execute('DELETE FROM transactions')

In [ ]:
cursor.execute('SELECT * FROM transactions').fetchall()

In [ ]:
cursor.execute('SELECT * FROM sqlite_master').fetchone()

In [ ]:
cursor.execute('DROP TABLE transactions')

In [ ]:
cursor.execute('SELECT * FROM sqlite_master').fetchone()

In [ ]:
con.close()

<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

<a href="http://tpq.io" target="_blank">http://tpq.io</a> | <a href="mailto:training@tpq.io">training@tpq.io</a> | <a href="http://twitter.com/dyjh" target="_blank">@dyjh</a>