<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

# Data Science Basics

&copy; Dr. Yves J. Hilpisch | The Python Quants GmbH

http://tpq.io | [training@tpq.io](mailto:trainin@tpq.io) | [@dyjh](http://twitter.com/dyjh)

## SQLite3

_From ChatGPT_

### **SQLite3 with Python – Complete Overview (Copy & Paste Ready)**  

This **structured summary** provides a **quick reference** for performing **SQLite operations with Python**, including, for example, **multi-value conditional updates (-1, 0, 1), column deletion, and view management**.

---

### **Database & Table Operations**
| Task | SQL Command | Python Code |
|------|------------|-------------|
| **Create an in-memory database** | `sqlite3.connect(":memory:")` | `conn = sqlite3.connect(":memory:")` |
| **Create a table** | `CREATE TABLE transactions (...)` | `cursor.execute("CREATE TABLE transactions (...)")` |
| **Insert multiple records** | `INSERT INTO transactions (...) VALUES (?, ?, ?)` | `cursor.executemany("INSERT INTO transactions VALUES (?, ?, ?)", data)` |
| **Select all records** | `SELECT * FROM transactions` | `cursor.fetchall()` |
| **Select records with a condition** | `SELECT * FROM transactions WHERE amount > 0` | `cursor.execute("SELECT * FROM transactions WHERE amount > 0")` |
| **Count total records** | `SELECT COUNT(*) FROM transactions` | `cursor.fetchone()[0]` |

---

### **Updating & Deleting Records**
| Task | SQL Command | Python Code |
|------|------------|-------------|
| **Update a single column** | `UPDATE transactions SET amount = amount * 1.1` | `cursor.execute("UPDATE transactions SET amount = amount * 1.1")` |
| **Update a column based on a condition (0,1)** | `UPDATE transactions SET flag = CASE WHEN amount >= 0 THEN 1 ELSE 0 END` | `cursor.execute("UPDATE transactions SET flag = CASE WHEN amount >= 0 THEN 1 ELSE 0 END")` |
| **Update a column with more than two values (-1,0,1)** | `UPDATE transactions SET category = CASE WHEN amount > 100 THEN 1 WHEN amount BETWEEN -100 AND 100 THEN 0 ELSE -1 END` | `cursor.execute("UPDATE transactions SET category = CASE WHEN amount > 100 THEN 1 WHEN amount BETWEEN -100 AND 100 THEN 0 ELSE -1 END")` |
| **Delete a single record** | `DELETE FROM transactions WHERE id = ?` | `cursor.execute("DELETE FROM transactions WHERE id = ?", (2,))` |
| **Delete all records** | `DELETE FROM transactions` | `cursor.execute("DELETE FROM transactions")` |
| **Reset auto-increment primary key** | `DELETE FROM sqlite_sequence WHERE name='transactions'` | `cursor.execute("DELETE FROM sqlite_sequence WHERE name='transactions'")` |

---

## **Altering Table Structure**
| Task | SQL Command | Python Code |
|------|------------|-------------|
| **Add a new column** | `ALTER TABLE transactions ADD COLUMN total_balance REAL` | `cursor.execute("ALTER TABLE transactions ADD COLUMN total_balance REAL")` |
| **Populate a new column with computed values** | `UPDATE transactions SET total_balance = amount + fee` | `cursor.execute("UPDATE transactions SET total_balance = amount + fee")` |
| **Delete a column (workaround)** | - Create a new table without the column <br> - Copy data <br> - Drop old table <br> - Rename new table | (see below)  |


    cursor.execute("CREATE TABLE transactions_new AS SELECT id, amount FROM transactions")
    cursor.execute("DROP TABLE transactions")
    cursor.execute("ALTER TABLE transactions_new RENAME TO transactions")
    conn.commit()

---

### **Aggregations & Advanced Queries**
| Task | SQL Command | Python Code |
|------|------------|-------------|
| **Calculate sum of a column** | `SELECT SUM(amount) FROM transactions` | `cursor.fetchone()[0]` |
| **Calculate mean (average) of a column** | `SELECT AVG(amount) FROM transactions` | `cursor.fetchone()[0]` |
| **Use a subquery to filter records** | `SELECT * FROM transactions WHERE amount > (SELECT AVG(amount) FROM transactions)` | `cursor.fetchall()` |
| **Reference the total record count in a query** | `SELECT id, amount, (SELECT COUNT(*) FROM transactions) AS total_records FROM transactions` | `cursor.fetchall()` |

---

### **Views & Performance Optimization**
| Task | SQL Command | Python Code |
|------|------------|-------------|
| **Create a view instead of modifying a table** | `CREATE VIEW transactions_with_balance AS SELECT *, amount + 100 AS total_balance FROM transactions` | `cursor.execute("CREATE VIEW ...")` |
| **Delete a view** | `DROP VIEW IF EXISTS view_name;` | `cursor.execute("DROP VIEW IF EXISTS transactions_with_balance")` |
| **Check existing views** | `SELECT name FROM sqlite_master WHERE type='view';` | `cursor.fetchall()` |
| **Optimize database after many deletes** | `VACUUM` | `cursor.execute("VACUUM")` |
| **Enable WAL (Write-Ahead Logging) for performance** | `PRAGMA journal_mode=WAL` | `cursor.execute("PRAGMA journal_mode=WAL")` |

---

### **Conditional Updates with Multiple Categories**
| Condition | SQL Command |
|-----------|------------|
| **Set `category = 1` for income (amount > 100)** | `UPDATE transactions SET category = 1 WHERE amount > 100` |
| **Set `category = 0` for neutral transactions (-100 to 100)** | `UPDATE transactions SET category = 0 WHERE amount BETWEEN -100 AND 100` |
| **Set `category = -1` for expenses (amount < -100)** | `UPDATE transactions SET category = -1 WHERE amount < -100` |
| **Set category using a single `CASE` statement** | `UPDATE transactions SET category = CASE WHEN amount > 100 THEN 1 WHEN amount BETWEEN -100 AND 100 THEN 0 ELSE -1 END` |
| **Combine amount and description filtering** | `UPDATE transactions SET category = CASE WHEN description LIKE '%Salary%' OR description LIKE '%Dividend%' THEN 1 WHEN amount BETWEEN -100 AND 100 THEN 0 WHEN description LIKE '%Purchase%' OR amount < -100 THEN -1 END` |

---

### **Best Practices**
✔ **Use `cursor.execute()` instead of `conn.execute()`** for explicit control.  
✔ **Always use parameterized queries (`?`)** to prevent **SQL injection**.  
✔ **Use `COUNT(*)`** to efficiently reference record numbers.  
✔ **Avoid deleting a column directly**—instead, **create a new table, copy data, and rename it**.  
✔ **Use `VACUUM`** after **many deletions** to optimize performance.  
✔ **Consider using `VIEWs`** instead of permanently altering tables for computed columns.  

---

## Second Steps

In [ ]:
!git clone https://github.com/tpq-classes/data_science_basics.git
import sys
sys.path.append('data_science_basics')

In [ ]:
import numpy as np
import pandas as pd
import sqlite3 as sq3

In [ ]:
rn = np.random.standard_normal((5, 3))

In [ ]:
rn

In [ ]:
con = sq3.connect(':memory:')
# con = sq3.connect('data.sq3')

In [ ]:
cursor = con.cursor()

In [ ]:
cursor.execute('''CREATE TABLE data (
            id INTEGER PRIMARY KEY AUTOINCREMENT,
            no1 REAL,
            no2 REAL,
            no3 REAL
            )''')

In [ ]:
con.execute('SELECT * FROM sqlite_master').fetchall()

In [ ]:
con.executemany('INSERT INTO data (no1, no2, no3) VALUES (?, ?, ?)', rn)

In [ ]:
con.execute('SELECT * FROM data').fetchall()

In [ ]:
l1 = list(rn)
l1[:2]

In [ ]:
con.executemany('INSERT INTO data (no1, no2, no3) VALUES (?, ?, ?)', l1)

In [ ]:
con.execute('SELECT * FROM data').fetchall()

In [ ]:
l2 = [list(a) for a in l1]
l2[:2]

In [ ]:
con.executemany('INSERT INTO data (no1, no2, no3) VALUES (?, ?, ?)', l2)

In [ ]:
con.execute('SELECT * FROM data').fetchall()

In [ ]:
con.execute('SELECT SUM(no1) FROM data').fetchone()

In [ ]:
con.execute('SELECT MIN(no2) FROM data').fetchone()

In [ ]:
con.execute('SELECT AVG(no3) FROM data').fetchone()

In [ ]:
con.execute('SELECT COUNT(*) FROM data').fetchone()

In [ ]:
con.execute('ALTER TABLE data ADD COLUMN sum REAL')

In [ ]:
con.execute('SELECT * FROM sqlite_master').fetchall()

In [ ]:
con.execute('SELECT * FROM data').fetchall()

In [ ]:
con.execute('UPDATE data SET sum = no1 + no2 + no3')

In [ ]:
con.execute('SELECT * FROM data').fetchmany(2)

In [ ]:
con.execute('ALTER TABLE data ADD COLUMN sign INTEGER')

In [ ]:
con.execute('''UPDATE data SET sign = CASE
            WHEN sum >= 0 THEN 1
            ELSE 0
            END''')

In [ ]:
con.execute('SELECT * FROM data').fetchmany(2)

In [ ]:
con.execute('UPDATE data SET sign = -1 WHERE sign = 0')

In [ ]:
con.execute('SELECT * FROM data').fetchmany(2)

In [ ]:
con.execute('''CREATE VIEW data_avg AS
                SELECT id, no1, no2, no3, (no1 + no2 + no3) / 3
                AS mean FROM data''')

In [ ]:
con.execute('SELECT * FROM sqlite_master').fetchall()

In [ ]:
con.execute('SELECT * FROM data_avg').fetchmany(3)

In [ ]:
con.execute('DROP VIEW IF EXISTS data_avg')

<img src="http://hilpisch.com/tpq_logo.png" alt="The Python Quants" width="35%" align="right" border="0"><br>

<a href="http://tpq.io" target="_blank">http://tpq.io</a> | <a href="mailto:training@tpq.io">training@tpq.io</a> | <a href="http://twitter.com/dyjh" target="_blank">@dyjh</a>